Basic data types

In [2]:
x = 5               # creates an object
x

5

In [3]:
type(5)             # assigning it to a variable is not required

int

In [4]:
type(5.0)           # float

float

In [5]:
type('five')        # str , single or double quotes

str

In [6]:
type(True)          # bool

bool

In [7]:
5 / 2               # integer division ignores remainder

2

In [8]:
5 / 2.0             # the presence of a decimal means float division

2.5

Lists

In [19]:
nums = [5, 5.0, 'five']     # multiple data types
nums                        # print the list

[5, 5.0, 'five']

In [20]:
type(nums)                  # check the type: list

list

In [21]:
len(nums)                   # check the length: 3

3

In [22]:
nums[0]                     # print first element

5

In [23]:
nums[2] = 6                 # replace a list element
nums                        # IT CHANGED

[5, 5.0, 6]

In [24]:
nums.append(7)              # list 'method' that changes the list
nums.remove(5)              # another list method
nums.append(5)
nums.append("apple")
nums

[5.0, 6, 7, 5, 'apple']

In [60]:
nums

[5.0, 6, 7, 5]

In [58]:
nums.remove("apple")
print nums
sorted(nums)                # 'function' that does not modify the list

ValueError: list.remove(x): x not in list

In [27]:
sorted(nums, reverse=True)  # optional argument
sum(nums)                   # returns sum of a list of numbers

23.0

Note that list methods are a part of lists, like append and remove
but sorted is a built in python method that TAKES IN a list

In [29]:
# let's use a for loop to "iterate" over this list
days_of_the_week = ['Monday', "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", 'Sunday']
print days_of_the_week

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [31]:
# list slicing
weekdays = days_of_the_week[0:5]    # weekdays, NOTE doesn't include the index 5
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [32]:
weekdays[0:2]

['Monday', 'Tuesday']

In [34]:
print days_of_the_week[5:]     # weekends
print days_of_the_week[:5]
print days_of_the_week[0:7:3]  # the third element means every second element

['Saturday', 'Sunday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Monday', 'Thursday', 'Sunday']

CONDITIONALS

In [38]:
x=x*x

In [49]:
# we will use an if else to implement logic
print x              # remember x?
if x  > 10 :
    print "x is more than 10 !"
    print "hooray"
elif x > 100:
    print "x is HUGE"

25
x is more than 10 !
hooray

In [40]:
#as soon as one conditional is satisfied, it stops checking!

temperature = 20
if temperature <= 32:
    print "water is ice"
elif temperature > 32 and temperature < 212:
    print "water is liquid"
else:                        #implicity means else if temperature >=212
    print "water will boil"

water is ice

DICTIONARIES

In [50]:
'''
have a key value structure,
like a dictionary! :)

dictionary = {
    key1: value1,
    key2: value2,
    ....
}
'''

sinan = {
    "age" : 23,
    "location" : "Baltimore",
    "gender": "Male",
    "occupation": "Professor/Entrepreneur"
}

print sinan['age']
print sinan['location']

deniz = {
    "age" : 29,
    "location" : "Washington, D.C.",
    "gender": "Female",
    'occupation': "Security Analyst"
}
print deniz

people = [sinan, deniz] #is a list of myself

print people[0] # is the dictionary thar represents sinan
print people[0]['age']

23
Baltimore
{'gender': 'Female', 'age': 29, 'location': 'Washington, D.C.', 'occupation': 'Security Analyst'}
{'gender': 'Male', 'age': 23, 'location': 'Baltimore', 'occupation': 'Professor/Entrepreneur'}
23

In [51]:
'''
for loops are a way of "iterating" over an item, like a list!
but also dictionaries!
'''

# iterating over a list
for day in days_of_the_week: # the "day" variable can really be called anything
    print "the day is " + day

for person in people:
    print type(person)
    print str(person['age']) + " and lives in "+person['location']

the day is Monday
the day is Tuesday
the day is Wednesday
the day is Thursday
the day is Friday
the day is Saturday
the day is Sunday
<type 'dict'>
23 and lives in Baltimore
<type 'dict'>
29 and lives in Washington, D.C.

In [52]:
sinan.items()             # produces a list
sinan.items()[0][0]

# NOW I can iterate over sinan.items()
# iterating over a dictionaries "items"
for element in sinan.items():
    print element[0]

for first, second in sinan.items():
    print second
    
# Let's filter out some days based on an if!
for day in days_of_the_week: # the "day" variable can really be called anything
    if len(day) <= 6: #will only print days with length of 6 or less
        print day

gender
age
location
occupation
Male
23
Baltimore
Professor/Entrepreneur
Monday
Friday
Sunday

LIST COMPREHENSIONS

In [57]:
import math				# import statement

flubber = [2, 5, 7, 4, 2, 5]
print flubber
print len(flubber)
print [n**2 for n in flubber]    # list comprehension
print [y / 2.0 for y in flubber] #note the 2.0 instead of 2
print [math.sqrt(r) for r in flubber]

#note I used a different variable name for each one because it doesn't matter!

[2, 5, 7, 4, 2, 5]
6
[4, 25, 49, 16, 4, 25]
[1.0, 2.5, 3.5, 2.0, 1.0, 2.5]
[1.4142135623730951, 2.23606797749979, 2.6457513110645907, 2.0, 1.4142135623730951, 2.23606797749979]

FUNCTIONS

In [54]:
def give_me_five():         # function definition ends with colon
    print "I'm going to give you five"    
    return 5                # indentation required for function body
print "gave you five"
give_me_five()              # prints the return value (5)
a_new_variable = give_me_five()        # assigns return value to a variable, doesn't print it


def calc(x=1, y=2, op = "add"):         # three arguments (without any defaults)
    if op == 'add':                     # conditional statement
        return x + y
    elif op == 'subtract':
        return x - y
    elif op == "multiply":
        return x * y
    else:
        print 'Valid operations: add, subtract, multiply'

calc(5, 3, 'add')
calc(5, 3, 'subtract')
calc(5, 3, 'multiply')
calc([1,2],[3,4], "add")
#calc("sinan",[1,2], "add")    # will not work
calc(5, 3)                    # defaults to add

calc()                        # defaults everything!


point_1 = (1, 2, 2)   #tuples have a paranthesis
point_2  = (3, 4, 5)

pairs = zip(point_1, point_2)
for x in pairs:
    print x
    print x[0]
    print x[1]

[x[0] for x in pairs]

gave you five
I'm going to give you five
I'm going to give you five
(1, 3)
1
3
(2, 4)
2
4
(2, 5)
2
5

[1, 2, 2]